<link rel="stylesheet" href="/css/home/home.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs')%>
</head>
<body>
    <%- include('../include/header.ejs')%>
     <%- include('../include/nav.ejs')%>
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>Passport Home</h4>
            </div>
            <div class="content">
                <img src="/img/하니.jpg" alt="">
            </div>
        </div>
    </article>

    <%- include('../include/footer.ejs')%>
    
</body>
</html>